{% load i18n %}
<nav class="sidebar sidebar-offcanvas" id="sidebar">
    <ul class="nav">
      <li class="nav-item">
        <a class="nav-link" data-priority="1" href="{% url 'admin:index' %}">
          <i class="icon-grid menu-icon"></i>
          <span class="menu-title">Dashboard</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-toggle="collapse" href="#activity" aria-expanded="false" aria-controls="activity">
          <i class="icon-layout menu-icon"></i>
          <span class="menu-title">Activities</span>
          <i class="menu-arrow"></i>
        </a>
        <div class="collapse" id="activity">
          <ul class="nav flex-column sub-menu">
            <li class="nav-item"><a class="nav-link" href="{% url 'admin:statisticActivities' %}">Statistics</a></li>
            {% for item in type_activity %}
            <li class="nav-item"> <a class="nav-link" href="{% url 'admin:listActivities' item.id %}">{{item.type|capfirst}}</a></li>
            {% endfor %}
          </ul>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-toggle="collapse" href="#publications" aria-expanded="false" aria-controls="publications">
          <i class="icon-grid-2 menu-icon"></i>
          <span class="menu-title">Publications</span>
          <i class="menu-arrow"></i>
        </a>
        <div class="collapse" id="publications">
          <ul class="nav flex-column sub-menu">
            {% for item in type_publication %}
            <li class="nav-item"> <a class="nav-link" href="{% url 'admin:listPublications' item.id %}">{{item.type|capfirst}}</a></li>
            {% endfor %}
          </ul>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-toggle="collapse" href="#members" aria-expanded="false" aria-controls="members">
          <i class="icon-head menu-icon"></i>
          <span class="menu-title">Members</span>
          <i class="menu-arrow"></i>
        </a>
        <div class="collapse" id="members">
          <ul class="nav flex-column sub-menu">
            <li class="nav-item"> <a class="nav-link" href="#"> Type of member </a></li>
            <li class="nav-item"> <a class="nav-link" href="{% url 'admin:addPerson' %}"> Add New Person </a></li>
            {% for item in type_member %}
            <li class="nav-item"> <a class="nav-link" href="{% url 'admin:listMembers' item.id %}">{{item.type|capfirst}}</a></li>
            {% endfor %}
          </ul>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-toggle="collapse" href="#partners" aria-expanded="false" aria-controls="partners">
          <i class="ti-home menu-icon"></i>
          <span class="menu-title">Partners</span>
          <i class="menu-arrow"></i>
        </a>
        <div class="collapse" id="partners">
          <ul class="nav flex-column sub-menu">
            <li class="nav-item"> <a class="nav-link" href="{% url 'admin:addInstitution' %}"> Add New Institution </a></li>
            <li class="nav-item"> <a class="nav-link" href="{% url 'admin:listPartners' %}"> Partners </a></li>
          </ul>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-priority="1" href="{% url 'admin:listImages' %}">
          <i class="icon-contract menu-icon"></i>
          <span class="menu-title">Photos</span>
        </a>
      </li>
    </ul>
  </nav>