{% extends "association/base.html" %}
{% load static %}
{% load i18n %}
{% block title %}Contact{% endblock %}

{% block content %}
<section>
    <div class="gap remove-bottom black-layer2 opc1">
        <div class="fixed-bg" style="background-image: url({% static 'images/landscape/DSC_0702.webp' %});background-position:50% 60%;<"></div>
        <div class="container">
            <div class="page-title-wrap">
                <h1><img src="{% static 'images/site/lettre.png' %}" alt="lettre.png"></h1>
                <h2>Contact</h2>
                <ul class="breadcrumbs">
                    <li><a href="{% url 'association:index' %}" title="">{% trans "Home" %}</a></li>
                    <li>Contact</li>
                </ul>
            </div><!-- Page Title Wrap -->
        </div>
    </div>
</section>
<section>
    <div class="gap">
        <div class="container">
            <div class="sec-title text-center">
                <div class="sec-title-inner">
                    <span>{% trans "Get information" %}</span>
                    <h3>{% trans "Contact information" %}</h3>
                </div>
            </div>
            <div class="contact-info-wrap text-center remove-ext3">
                <div class="row">
                    <div class="col-md-4 col-sm-6 col-lg-4">
                        <div class="contact-info-box">
                            <i class="flaticon-location-pin"></i>
                            <strong>{% trans "Our Location" %}</strong>
                            <span>B.P. 3972, Antananarivo 101</span>
                            <a href="#" title="">Madagascar</a>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6 col-lg-4">
                        <div class="contact-info-box">
                            <i class="flaticon-call"></i>
                            <strong>{% trans "Contact us Anytime" %}</strong>
                            <span>Mobile: 20 22 277 55</span>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6 col-lg-4">
                        <div class="contact-info-box">
                            <i class="flaticon-email"></i>
                            <strong>{% trans "Write Some Words" %}</strong>
                            <a href="mailto:associatvahatra@moov.mg" title=""> associatvahatra@moov.mg</a>
                        </div>
                    </div>
                </div>
            </div><!-- Contact Info Wrap -->
        </div>
    </div>
</section>
<section>
    <div class="gap no-gap">
        <div id="map" class="map" style="width: 100%; height: 400px;" ></div>
    </div>
</section>
<section>
    <div class="gap">
        <div class="container">
            <div class="sec-title text-center">
                <div class="sec-title-inner">
                    <span>{% trans "Have Question" %}</span>
                    <h3>{% trans "Send Message" %}</h3>
                </div>
            </div>
            
            <div class="contact-form text-center">
                <form action="{% url 'association:contact'  %}" method="post">
                    {% csrf_token %}
                          <div class="row">
                            <div class="col-md-6">
                                <div>
                                  <input type="text" class="form-control" name="message_name" placeholder="{% trans 'Name' %}" {% if data.message_name %} value="{{data.message_name}}"{% endif %}>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group row no-gutters">
                                    <div class="col-sm-4">
                                        <select class="form-control" style="height: 50px;margin-top: 20px;" name="dial_code">
                                            {% if data.dial_code %}
                                            <option value="{{data.dial_code}}" >{{data.dial_code}}</option>
                                            {% endif %}
                                            {% for c in country %}
                                            <option value="{{c.dial_code}}" >
                                                {{c.flag}} {{c.dial_code}} 
                                            </option>
                                            {% endfor %}
                                          </select>
                                    </div>
                                  <div class="col-sm-8">
                                    {% if number_error %}
                                    <input type="text" class="form-control" style="border:5px solid rgba(255, 0, 0, 0.47);" name="message_phone" placeholder="Phone">
                                    {% else %}
                                    <input type="text" class="form-control" name="message_phone" placeholder="Phone" {% if data.message_phone %} value="{{data.message_phone}}" {% endif %}>
                                    {% endif %}
                                    
                                  </div>
                                </div>
                              </div>
                            
                          </div>
                          <div class="row">
                            <div class="col-md-6">
                                <div >
                                    
                                    {% if email_error %}
                                    <input type="email" class="form-control" style="border:5px solid rgba(255, 0, 0, 0.47);" name="message_email" placeholder="Email">
                                    {% else %}
                                    <input type="email" class="form-control" name="message_email" placeholder="Email" {% if data.message_email %} value="{{ data.message_email }} " {% endif %}>
                                    {% endif %}
                                    
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div>
                                  <input type="text" class="form-control" name="message_subject" {% if data.message_subject %} value="{{ data.message_subject }} " {% endif %} placeholder="{% trans 'Subject' %}">
                                </div>
                            </div>
                          </div>
                          <div class="row">
                            <div class="col-md-12">
                                <div >
                                    <textarea class="form-control" placeholder="Message" name="message_content">{% if data.message_content %}{{ data.message_content }}{% endif %}</textarea>
                                </div>
                            </div>
                          </div>
                          <div class="row mt-3">
                            <div class="col-md-12">
                                <div >
                                    <button class="thm-btn brd-rd40" type="submit">{% trans "Contact Us" %}</button>
                                </div>
                            </div>
                          </div>

                    {% if email_error %}
                    <div class="alert alert-danger m-2" role="alert">
                        {{email_error}}
                      </div>
                    {% endif %}
                    {% if number_error %}
                    <div class="alert alert-danger m-2" role="alert">
                        {{number_error}}
                      </div>
                    {% endif %}
                </form>
                
                {% if success %}
                    <fieldset>
                        <legend>{% trans "Thank you" %} {{data.message_name}}</legend>
                        <p>{% trans "We will look into your message and get back to you soon." %}</p>
                    </fieldset>
                {% endif %}

            </div>
        </div>
    </div>
</section>
{% endblock content %}

{% block js %}
<script src="https://cdn.jsdelivr.net/gh/openlayers/openlayers.github.io@master/en/v6.15.1/build/ol.js"></script>

<script>
    var img = "{% static 'images/map-icon.png' %}";
    var map = new ol.Map({
        target: 'map',
        layers: [
        new ol.layer.Tile({
            source: new ol.source.OSM()
        })
        ],
        view: new ol.View({
        center: ol.proj.fromLonLat([ 47.5511327993, -18.9167]),
        zoom: 19
        })
    });

    var layer = new ol.layer.Vector({
        source: new ol.source.Vector({
            features: [
                new ol.Feature({
                    geometry: new ol.geom.Point(ol.proj.fromLonLat([47.5511327993, -18.9167]))})
            ]
        }),
        style: new ol.style.Style({
            image: new ol.style.Icon({
            anchor: [0.5, 1],
            src: img,
            scale: 0.5
            }),
            text : new ol.style.Text({
                text: 'Association Vahatra',
                scale: 1.5,
                fill: new ol.style.Fill({
                    color: 'red',
                })
            })
        })
    });
    map.addLayer(layer);
    var domaineLayer = new ol.layer.Vector({
        source: new ol.source.Vector({
            features: [
                new ol.Feature({
                    geometry: new ol.geom.Point(ol.proj.fromLonLat([47.5511327993, -18.9169]))})
            ]
        }),
        style: new ol.style.Style({
            image: new ol.style.Icon({
            anchor: [0.5, 1],
            src: img,
            scale: 0.3
            }),
            text : new ol.style.Text({
                text: 'Domaine d\'Ankatso',
                scale: 1.5,
                fill: new ol.style.Fill({
                    color: 'black',
                })
            })
        })
    });
    map.addLayer(domaineLayer);
</script>
{% endblock %}