{% extends "association/base.html" %}
{% load static %}
{% load publications_extras %}
{% block title %}Gallery{% endblock %}
{% block content %}
<section>
    <div class="gap remove-bottom black-layer2 opc5">
        <div class="fixed-bg" style="background-image: url({% static 'images/landscape/DSC_0918.webp' %});"></div>
        <div class="container">
            <div class="page-title-wrap">
                <h1><img src="{% static 'images/site/lettre.png' %}" alt="lettre.png"></h1>
                <h2>Gallery</h2>
                <ul class="breadcrumbs">
                    <li><a href="{% url 'association:index' %}" title="">Home</a></li>
                    <li>Gallery</li>
                </ul>
            </div><!-- Page Title Wrap -->
        </div>
    </div>
</section>
<section>
    <div class="gap">
            <div class="prtfl-wrap text-center">
                <ul class="fltr-lnks">
                    <li class="active"><a data-filter="*" href="#">All</a></li>
                    {% for item in typeimage %}
                    <li><a data-filter=".img{{item.id}}" href="#">{{item.type}}</a></li>
                    {% endfor %}
                </ul>
                <div class="prtfl-dta remove-ext1">
                    <div class="row mrg15 masonry justify-content-center" id="moreImages">
                        {% for image in images %}
                        <div class="col-md-4 col-sm-6 col-lg-4 fltr-itm img{{image.idtype.id}}">
                            <div class="prtfl-box">
                                <img class="w-100 shadow-1-strong rounded " src="{% static 'images/' %}{{ image.idtype.type|lower|snake_case }}/{{image.name}}" alt="{{image.title}}" title="{{image.title}}">
                                <div class="prtfl-info">
                                    <a href="{% static 'images/' %}{{ image.idtype.type|lower|snake_case }}/{{image.name}}" data-fancybox="gallery" title=""><i class="fa fa-plus"></i></a>
                                    <h4>{{image.title}}</h4>
                                    <span>{{image.idtype.type}}</span>
                                </div>
                            </div>
                        </div>        
                        {% endfor %}
                    </div>
                    <button class="thm-btn brd-rd40" id="showMoreBtn" onclick="showMore()">Show more</button>
                </div>
                
            </div>
    </div>
</section>

{% endblock content %}
{% block js %}
<script>
    let limit = parseInt("{{limit}}");
    
    function showMore(){
        if (parseInt("{{length}}")<limit+limit){
            $('#showMoreBtn').css('display','none');
        }
        $.ajax({
            url : "{% url 'association:gallery' %}",
            dataType: 'JSON',
            type:"GET",
            data:{ number:limit },
            success:function(data){
                moreImg = data["moreImg"];
                for (let i=0; i<moreImg.length; i++){
                    img = JSON.parse(moreImg[i].image)[0]['fields'];
                    type = JSON.parse(moreImg[i].type)[0]['fields'];
                    idtype = moreImg[i].idtype;
                    
                    var div = '<div class="col-md-4 col-sm-6 col-lg-4 fltr-itm img'+idtype+'">\
                            <div class="prtfl-box">\
                                <img class="w-100 shadow-1-strong rounded " src="{% static "images/" %}'+type['type'].toLowerCase().replace(' ','_')+'/'+img['name']+'" alt="'+img['name']+'">\
                                <div class="prtfl-info">\
                                    <a href="{% static "images/" %}'+type['type'].toLowerCase().replace(' ','_')+'/'+img['name']+'" data-fancybox="gallery" title=""><i class="fa fa-plus"></i></a>\
                                    <h4>'+img['title']+'</h4>\
                                    <span>'+type['type']+'</span>\
                                </div>\
                            </div>\
                        </div> ';
                    $('#moreImages').append(div);
                }
                
                limit += limit;
            },  
            error:function(data){
                console.log('error')
                console.log(data)
            }
        });
    }
</script>
{% endblock %}