{% extends "association/base.html" %}
{% load static %}
{% load i18n %}
{% load publications_extras %}
{% block title %}{{type.type}}{% endblock %}
{% block content %}
<section>
    <div class="gap remove-bottom black-layer2 opc1">
        <div class="fixed-bg" style="background-image: url({% static 'images/landscape/banniere3.webp' %});"></div>
        <div class="container">
            <div class="page-title-wrap">
                <h1><img src="{% static 'images/site/lettre.png' %}" alt="lettre.png"></h1>
                <h2>{% trans "Members" %}</h2>
                <ul class="breadcrumbs">
                    <li><a href="{% url 'association:index' %}" title="">{% trans "Home" %}</a></li>
                    <li>{{type.type|title}}</li>
                </ul>
            </div><!-- Page Title Wrap -->
        </div>
    </div>
</section>
<section>
    <div class="gap">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="wdgt-box" style="float:right; width:30%;">
                        <h4>{% trans "Search" %}</h4>
                        <form class="srch-frm" action="{% url 'association:member' type.id type.type|toSlug  %}" method="get">
                            {% if keyword %}
                            <input type="text" name="keyword" value="{{keyword}}" placeholder="{% trans 'Search' %}">
                            {% else %}
                            <input type="text" name="keyword" placeholder="{% trans 'Search' %}">
                            {% endif %}
                            <button type="submit" class="thm-clr"><i class="fa fa-search"></i></button>
                        </form>
                    </div>
                </div>
            </div>
            
            {% if type.id == 3 %}
            <div class="sec-title text-center">
                <div class="sec-title-inner">
                    <span>{% trans "Our Members" %}</span>
                    <h3>{{type.type|title}}</h3>
                </div>
            </div>
            <div >
                <p>{{ type.description}}</p>
                <div class="pagination-wrap text-center m-0">
                    <ul class="pagination" style="float:right ;">
                        {% for number in page_number %}
                        {% if keyword %}
                        <li ><a href="{% url 'association:member' type.id type.type|toSlug keyword number %}" title="">{{number}}</a></li>
                        {% else %}
                        <li ><a href="{% url 'association:member' type.id type.type|toSlug  number %}" title="">{{number}}</a></li>
                        {% endif%}
                            
                        {% endfor %}
                    </ul>
                </div>
                <div class="row">
                    <div class="col-md-8">
                        <ul>
                            {% for member in members %}
                                <li>{{member.idperson.name}} {{member.idperson.username}}</li>
                            {%endfor%}
                        </ul>
                    </div>
                </div>
            </div>
            {% else %}
            <div class="sec-title text-center">
                <div class="sec-title-inner">
                    <span>{% trans "Our Members" %}</span>
                    <h3>{{type.type|title}}</h3>
                </div>
                
                <p>{{ type.description}}</p>
            </div>
            
            {% if page_number|length > 1 %}
            <div class="pagination-wrap text-center m-2">
                <ul class="pagination" >
                    {% for number in page_number %}
                    {% if keyword %}
                    <li ><a href="{% url 'association:member' type.id type.type|toSlug keyword number %}" title="">{{number}}</a></li>
                    {% else %}
                    <li ><a href="{% url 'association:member' type.id type.type|toSlug  number %}" title="">{{number}}</a></li>
                    {% endif%}
                        
                    {% endfor %}
                </ul>
            </div>
            {% endif %}
            <div class="team-wrap2 text-center remove-ext3">
                <div class="row">
                        {% for member in members %}
                        <div class="col-md-3 col-sm-6 col-lg-3">
                            <div class="team-box2">
                                {% if member.image %}
                                <img src="{% static 'images/members/' %}{{member.image}}" alt="{{ member.idperson.username }}">
                                {% else %}
                                <img src="{% static 'images/members/none.webp' %}" alt="{{ member.idperson.username }}">
                                {% endif %}
                                <div class="team-info2">
                                    <h4>{{ member.idperson.username }} {{ member.idperson.name }}</h4>
                                    <p>{{ member.description|default_if_none:"" }}</p>
                                    
                                        {% for mpi in member.memberpostinst_set.all %}
                                            <p style="font-weight: bold;">
                                                {{mpi.idpost.name|capfirst}} {% if mpi.idinst.name %}-{% endif %} {{mpi.idinst.name|capfirst }} {% if mpi.iddept.name %},{% endif %} {{mpi.iddept.name|capfirst}}
                                            </p>
                                        {% endfor %}
                                    
                                    <div class="team-scl">
                                        {% if member.mail %}
                                        <a href="mailto:{{member.mail}}" title="Mail" target="_blank"><i class="flaticon-email"></i></a>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                </div>
            {% endif %}
                
                <div class="row justify-content-center pt-5">
                    {% with type.typememberimage_set.all as imgs %}
                        {% for img in imgs %}
                            <div class="col-md-4">
                                <img src="{% static 'images/members/' %}{{img.image}}" alt="{{img.image}}" style="width: 500px; height:250px; object-fit: cover;"> 
                            </div>
                        {% endfor %}
                    {% endwith %}
                </div>
                

                
            </div><!-- Team Wrap -->
        </div>
    </div>
</section>
{% endblock content %}