{% extends "association/base.html" %}
{% load static %}
{% block title %}{{type.type}}{% endblock %}
{% block content %}
<section>
    <div class="gap remove-bottom black-layer2 opc1">
        <div class="fixed-bg" style="background-image: url({% static 'images/landscape/banniere3.jpg' %});"></div>
        <div class="container">
            <div class="page-title-wrap">
                <h1><img src="{% static 'images/site/lettre.png' %}" alt="lettre.png"></h1>
                <h2>Team</h2>
                <ul class="breadcrumbs">
                    <li><a href="{% url 'association:index' %}" title="">Home</a></li>
                    <li>{{type.type|title}}</li>
                </ul>
            </div><!-- Page Title Wrap -->
        </div>
    </div>
</section>
<section>
    <div class="gap">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="wdgt-box" style="float:right; width:30%;">
                        <h4>Search</h4>
                        <form class="srch-frm" action="{% url 'association:searchMember' type.id  %}" method="get">
                            {% if keyword %}
                            <input type="text" name="keyword" value="{{keyword}}" placeholder="Search">
                            {% else %}
                            <input type="text" name="keyword" placeholder="Search">
                            {% endif %}
                            <button type="submit" class="thm-clr"><i class="fa fa-search"></i></button>
                        </form>
                    </div>
                </div>
            </div>
            
            {% if type.id == 3 %}
            <div class="sec-title text-center">
                <div class="sec-title-inner">
                    <span>Our Members</span>
                    <h3>{{type.name|title}}</h3>
                </div>
            </div>
            <div >
                <p>{{ type.description}}</p>
                <ul>
                    {% for member in members %}
                        <li>{{member.idperson.name}} {{member.idperson.username}}</li>
                    {%endfor%}
                </ul>
            </div>
            {% else %}
            <div class="sec-title text-center">
                <div class="sec-title-inner">
                    <span>Our Members</span>
                    <h3>{{type.name|title}}</h3>
                </div>
                <p>{{ type.description}}</p>
            </div>
            <div class="team-wrap2 text-center remove-ext3">
                <div class="row">
                        {% for member in members %}
                        <div class="col-md-3 col-sm-6 col-lg-3">
                            <div class="team-box2">
                                {% if member.image %}
                                <img src="{% static 'images/members/' %}{{member.image}}" alt="{{ member.idperson.username }}">
                                {% else %}
                                <img src="{% static 'images/members/none.jpg' %}" alt="{{ member.idperson.username }}">
                                {% endif %}
                                <div class="team-info2">
                                    <h4>{{member.idperson.title|default_if_none:""}} {{ member.idperson.username }} {{ member.idperson.name }}</h4>
                                    <p>{{ member.description|default_if_none:"" }}</p>
                                    
                                        {% for mpi in member.memberpostinst_set.all %}
                                            <p style="font-weight: bold;">
                                                {{mpi.idpost.name|capfirst}} {% if mpi.idinst.name %}-{% endif %} {{mpi.idinst.name|capfirst }} {% if mpi.iddept.name %},{% endif %} {{mpi.iddept.name|capfirst}}
                                            </p>
                                        {% endfor %}
                                    
                                    <div class="team-scl">
                                        {% if member.mail %}
                                        <a href="mailto:{{member.mail}}" title="Mail" target="_blank"><i class="flaticon-email"></i></a>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                </div>
                
            {% endif %}
                <div class="pagination-wrap text-center">
                    <ul class="pagination">
                        {% for number in page_number %}
                        {% if keyword %}
                        <li ><a href="{% url 'association:searchMember' type.id keyword number %}" title="">{{number}}</a></li>
                        {% else %}
                        <li ><a href="{% url 'association:member' type.id number %}" title="">{{number}}</a></li>
                        {% endif%}
                            
                        {% endfor %}
                    </ul>
                </div>
            </div><!-- Team Wrap -->
        </div>
    </div>
</section>
{% endblock content %}