{% extends "association/base.html" %}
{% load static %}
{% block title %}{{type.name}}{% endblock %}
{% block content %}
<section>
    <div class="gap remove-bottom black-layer2 opc85">
        <div class="fixed-bg" style="background-image: url({% static 'images/parallax12.jpg' %});"></div>
        <div class="container">
            <div class="page-title-wrap">
                <h1><img src="{% static 'images/resources/page-title-ayat.png' %} " alt="page-title-ayat.png"></h1>
                <h2>Portfolio</h2>
                <ul class="breadcrumbs">
                    <li><a href="{% url 'association:index' %}" title="">Home</a></li>
                    <li>Gallery</li>
                </ul>
            </div><!-- Page Title Wrap -->
        </div>
    </div>
</section>
<section>
    <div class="gap">
        <div class="container">
            <div class="prtfl-wrap text-center">
                <ul class="fltr-lnks">
                    <li class="active"><a data-filter="*" href="#">All</a></li>
                    <li><a data-filter=".fltr-itm1" href="#">Avifauna</a></li>
                    <li><a data-filter=".fltr-itm2" href="#">Miscellaneaous</a></li>
                    <li><a data-filter=".fltr-itm3" href="#">Herpetofauna</a></li>
                    <li><a data-filter=".fltr-itm4" href="#">Landscapes</a></li>
                    <li><a data-filter=".fltr-itm5" href="#">Small mammals</a></li>
                    <li><a data-filter=".fltr-itm6" href="#">Primates</a></li>
                    <li><a data-filter=".fltr-itm7" href="#">Team</a></li>
                </ul>
                <div class="prtfl-dta remove-ext1">
                    <div class="row mrg15 masonry">
                        <div class="col-md-4 col-sm-6 col-lg-4 fltr-itm fltr-itm1">
                            <div class="prtfl-box">
                                <img src="{% static 'images/resources/prtfl-img1.jpg' %} " alt="prtfl-img1.jpg">
                                <div class="prtfl-info">
                                    <a href="{% static 'images/resources/prtfl-img1.jpg' %} " data-fancybox="gallery" title=""><i class="fa fa-plus"></i></a>
                                    <h4>Islamic Center</h4>
                                    <span>artwork / branding</span>
                                </div>
                            </div>
                            <div class="prtfl-box">
                                <img src="{% static 'images/resources/prtfl-img2.jpg' %} " alt="prtfl-img2.jpg">
                                <div class="prtfl-info">
                                    <a href="{% static 'images/resources/prtfl-img2.jpg' %} " data-fancybox="gallery" title=""><i class="fa fa-plus"></i></a>
                                    <h4>Eid Prayer</h4>
                                    <span>artwork / branding</span>
                                </div>
                            </div>
                        </div>                                 
                        <div class="col-md-4 col-sm-6 col-lg-4 fltr-itm fltr-itm3">
                            <div class="prtfl-box">
                                <img src="{% static 'images/resources/prtfl-img3.jpg' %} " alt="prtfl-img3.jpg">
                                <div class="prtfl-info">
                                    <a href="{% static 'images/resources/prtfl-img3.jpg' %} " data-fancybox="gallery" title=""><i class="fa fa-plus"></i></a>
                                    <h4>Offer Namaz</h4>
                                    <span>artwork / branding</span>
                                </div>
                            </div>
                            <div class="prtfl-box">
                                <img src="{% static 'images/resources/prtfl-img4.jpg' %} " alt="prtfl-img4.jpg">
                                <div class="prtfl-info">
                                    <a href="{% static 'images/resources/prtfl-img4.jpg' %} " data-fancybox="gallery" title=""><i class="fa fa-plus"></i></a>
                                    <h4>Eid Celebration</h4>
                                    <span>artwork / branding</span>
                                </div>
                            </div>
                            <div class="prtfl-box">
                                <img src="{% static 'images/resources/prtfl-img5.jpg' %} " alt="prtfl-img5.jpg">
                                <div class="prtfl-info">
                                    <a href="{% static 'images/resources/prtfl-img5.jpg' %} " data-fancybox="gallery" title=""><i class="fa fa-plus"></i></a>
                                    <h4>Prayer Dua</h4>
                                    <span>artwork / branding</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-6 col-lg-4 fltr-itm fltr-itm2">
                            <div class="prtfl-box">
                                <img src="{% static 'images/resources/prtfl-img6.jpg' %} " alt="prtfl-img6.jpg">
                                <div class="prtfl-info">
                                    <a href="{% static 'images/resources/prtfl-img6.jpg' %} " data-fancybox="gallery" title=""><i class="fa fa-plus"></i></a>
                                    <h4>Quran Learing</h4>
                                    <span>artwork / branding</span>
                                </div>
                            </div>
                            <div class="prtfl-box">
                                <img src="{% static 'images/resources/prtfl-img7.jpg' %} " alt="prtfl-img7.jpg">
                                <div class="prtfl-info">
                                    <a href="{% static 'images/resources/prtfl-img7.jpg' %} " data-fancybox="gallery" title=""><i class="fa fa-plus"></i></a>
                                    <h4>Wazaif Benefits</h4>
                                    <span>artwork / branding</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-6 col-lg-6 fltr-itm fltr-itm4">
                            <div class="prtfl-box">
                                <img src="{% static 'images/resources/prtfl-img8.jpg' %} " alt="prtfl-img8.jpg">
                                <div class="prtfl-info">
                                    <a href="{% static 'images/resources/prtfl-img8.jpg' %} " data-fancybox="gallery" title=""><i class="fa fa-plus"></i></a>
                                    <h4>Ramadan Celebration</h4>
                                    <span>artwork / branding</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-6 col-lg-6 fltr-itm fltr-itm1 fltr-itm2 fltr-itm3 fltr-itm4">
                            <div class="prtfl-box">
                                <img src="{% static 'images/resources/prtfl-img9.jpg' %} " alt="prtfl-img9.jpg">
                                <div class="prtfl-info">
                                    <a href="{% static 'images/resources/prtfl-img9.jpg' %} " data-fancybox="gallery" title=""><i class="fa fa-plus"></i></a>
                                    <h4>Ramadan Celebration</h4>
                                    <span>artwork / branding</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock content %}