{% load i18n %}
{% load publications_extras %}
<a class="thm-btn brd-rd40" href="{% url 'association:contact' %}" title="">{{contactus}}</a>
<ul>
    <li class="menu-item"><a href="{% url 'association:index' %}" title="">{% trans "Home" %}</a></li>
    <li class="menu-item-has-children"><a href="#" title="">{% trans "Activities" %}</a>
        <ul>
            {% for activity in types_activity %}
                {% if activity.typesubactivity_set.all %}
                    <li class="menu-item-has-children"><a href="#" title="">{{activity.type}}</a>
                        <ul>
                            {% for subactivity in activity.typesubactivity_set.all %}
                            <li><a href="{% url 'activities:index' activity.id activity.type|toSlug subactivity.id subactivity.type|toSlug %}" title="">{{ subactivity.type|title }}</a></li>
                            {% endfor %}
                        </ul>
                    </li>
                {% else %}
                    <li><a href="{% url 'activities:index' activity.id activity.type|toSlug  %}" title="">{{activity.type|title}}</a></li>
                {% endif %}
            {% endfor %}
            
            <li><a href="{% url 'activities:support' %}" title="">{% trans "Pedagogic and scientific support" %}</a></li>
            <li><a href="{% url 'activities:collection' %}" title="">{% trans "MZBA collection room support" %}</a></li>
            <li><a href="{% url 'activities:atlas' %}" title="">{% trans "Database & Atlas" %}</a></li>
        </ul>
    </li>
    
    <li class="menu-item-has-children"><a href="#" title="">{% trans "Projects and grants" %}</a>
        <ul>
            {% if types_activity.count > 0 %}
            <li><a href="{% url 'activities:index' 3 'project' 6 'grant' %}" title="">{% trans "Grant" %}</a></li>
            <li><a href="{% url 'activities:index' 3 'project' 7 'scientific research'|toSlug %}" title="">{% trans "Scientific research" %}</a></li>
            {% endif %}
        </ul>
    </li>

    <li class="menu-item-has-children"><a href="#" title="">Publications</a>
        <ul>
            {% for publication_type in types_pub %}
                <li><a href="{% url 'publications:index' publication_type.id publication_type.type|toSlug  %}" title="">{{ publication_type.type|title }}</a></li>
            {% endfor %}

            
        </ul>
    </li>

    <li class="menu-item-has-children"><a href="#" title="">{% trans "About" %}</a>
        <ul>
        <li><a href="{% url 'association:gallery' %}" title="">{% trans "Our gallery" %}</a></li>
        <li><a href="{% url 'association:reports' %}" title="">{% trans "Annual reports" %}</a></li>
        <li><a href="{% url 'association:financing' %}" title="">{% trans "Financing" %}</a></li>
        </ul>
    </li>
    
    <li class="menu-item-has-children"><a href="#" alt="{{ currlang.lang }}" title="{{ currlang.lang }}"><span style="font-size: 25px;" >  {{ currlang.flag }}</span></a>
        
        <ul>
            {% for code,lang,flag in languages %}
            <li><a href="{% change_lang code %}" alt="{{ code }}" title="{{ code }}">{{ flag }} {{lang}}</a></li>
            {% endfor %}
        </ul>
    </li>
    
    

</ul>