{% extends "association/base.html" %}
{% load static %}
{% block title %}{{project.title}}{% endblock %}
{% block content %}
<section>
    <div class="gap remove-bottom black-layer2 opc85">
        <div class="fixed-bg" style="background-image: url({% static 'images/parallax13.jpg'%});"></div>
        <div class="container">
            <div class="page-title-wrap">
                <h1><img src="{% static 'images/resources/page-title-ayat.png' %}" alt="page-title-ayat.png"></h1>
                <h2>{{project.title | truncatewords:3}}</h2>
                <ul class="breadcrumbs">
                    <li><a href="{% url 'association:index' %}" title="">Home</a></li>
                    <li><a href="{% url 'projects:index' %}" title="">Projects</a></li>
                    <li>{{project.title | truncatewords:3}}</li>
                </ul>
            </div><!-- Page Title Wrap -->
        </div>
    </div>
</section><section>
    <div class="gap">
        <div class="container">
            <div class="blog-detail-wrp">
                <div class="row">
                    <div class="col-md-9 col-sm-12 col-lg-9">
                        <div class="blog-detail">
                            <div class="blog-detail-inf brd-rd5">
                                <img src="{% static 'images/resources/blog-detail-img.jpg' %}" alt="blog-detail-img.jpg">
                                <div class="blog-detail-inf-inr">
                                    <h4>{{project.title}}</h4>
                                    <ul class="pst-mta">
                                        <li><i class="fa fa-calendar-o thm-clr"></i>{{project.year}}</li>
                                        {% if project.partners %}
                                        <li><i class="fa fa-user-o thm-clr"></i>{{project.partners}}</li>
                                        {% endif %}
                                    </ul>
                                </div>
                            </div>
                            <div class="blog-detail-desc">
                                <p>{{project.description}} </p>
                                <blockquote class="brd-rd5"><p><i class="fa fa-quote-left thm-clr"></i>
                                    " We should preserve every scrap of biodiversity as priceless while we learn to use it and come to understand what it means to humanity. "
                                </p><p class="text-right">E. O. Wilson </p></blockquote>
                                <div class="pst-shr-tgs">
                                    <div class="team-scl float-left">
                                        <span>Share This:</span>
                                        <a href="#" title="Twitter" target="_blank"><i class="fa fa-twitter"></i></a>
                                        <a href="#" title="Facebook" target="_blank"><i class="fa fa-facebook"></i></a>
                                        <a href="#" title="Linkedin" target="_blank"><i class="fa fa-linkedin"></i></a>
                                        <a href="#" title="Google Plus" target="_blank"><i class="fa fa-google-plus"></i></a>
                                    </div>
                                    <div class="tag-clouds float-right">
                                        <span>Tags:</span>
                                        <a href="#" title="">Association vahatra</a>, <a href="#" title="">Project</a>, <a href="#" title="">{{project.year}} </a>
                                    </div>
                                </div>
                                <div class="cmts-wrp">
                                    <h3>02 Comments</h3>
                                    <ul class="cmt-thrd">
                                        <li>
                                            <div class="cmt-bx">
                                                <img class="brd-rd50" src="{% static 'images/resources/cmt-img1.jpg' %}" alt="cmt-img1.jpg">
                                                <div class="cmt-inf">
                                                    <h6>Mike Stepliton</h6>
                                                    <span>Aug 14, 2018</span>
                                                    <p itemprop="description">Similique sunt in culpa qui officia.vero eos et accusamus et iusto odio dignissimos ducimuss qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores</p>
                                                    <a class="comment-reply-link thm-clr" href="#" title="">Reply</a>
                                                </div>
                                            </div>
                                            <ul class="children">
                                                <li>
                                                    <div class="cmt-bx">
                                                        <img class="brd-rd50" src="{% static 'images/resources/cmt-img2.jpg' %}" alt="cmt-img2.jpg">
                                                        <div class="cmt-inf">
                                                            <h6>Maria Stepliton</h6>
                                                            <span>Aug 14, 2018</span>
                                                            <p>Similique sunt in culpa qui officia.vero eos et accusamus et iusto odio dignissismos ducimuss qui blanditiis praesentium voluptatum.</p>
                                                            <a class="comment-reply-link thm-clr" href="#" title="">Reply</a>
                                                        </div>
                                                    </div>
                                                </li>
                                            </ul>
                                        </li>
                                    </ul><!-- Comment Thread -->
                                </div><!-- Comments Wrap -->
                                <div class="cnt-frm cmt-frm">
                                    <h3>Leave Your Comments</h3>
                                    <form>
                                        <div class="row mrg20">
                                            <div class="col-md-4 col-sm-6 col-lg-4">
                                                <input type="text" placeholder="Name">
                                            </div>
                                            <div class="col-md-4 col-sm-6 col-lg-4">
                                                <input type="email" placeholder="Email">
                                            </div>
                                            <div class="col-md-4 col-sm-12 col-lg-4">
                                                <input type="text" placeholder="Subject">
                                            </div>
                                            <div class="col-md-12 col-sm-12 col-lg-12">
                                                <textarea placeholder="Message"></textarea>
                                            </div>
                                            <div class="col-md-12 col-sm-12 col-lg-12">
                                                <button type="submit" class="thm-btn brd-rd40">POST COMMENT</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6 col-lg-3">
                        <div class="sidebar-wrp">
                            <div class="wdgt-box">
                                <h4>Search</h4>
                                <form class="srch-frm">
                                    <input type="text" placeholder="Search">
                                    <button type="submit" class="thm-clr"><i class="fa fa-search"></i></button>
                                </form>
                            </div>
                            
                            <div class="wdgt-box">
                                <h4>Recent Posts</h4>
                                <div class="rcnt-wrp">
                                    <div class="rcnt-bx">
                                        <a href="blog-detail.html" title=""><img src="{% static 'images/resources/rcnt-img1.jpg' %}" alt="rcnt-img1.jpg"></a>
                                        <div class="rcnt-inf">
                                            <h6><a href="blog-detail.html" title="">Lorem ipsum dolor sit</a></h6>
                                            <span class="thm-clr"><i class="fa fa-calendar-o"></i>June 09, 2020</span>
                                        </div>
                                    </div>
                                    <div class="rcnt-bx">
                                        <a href="blog-detail.html" title=""><img src="{% static 'images/resources/rcnt-img2.jpg' %}" alt="rcnt-img2.jpg"></a>
                                        <div class="rcnt-inf">
                                            <h6><a href="blog-detail.html" title="">Lorem ipsum dolor sit</a></h6>
                                            <span class="thm-clr"><i class="fa fa-calendar-o"></i>May 25, 2020</span>
                                        </div>
                                    </div>
                                    <div class="rcnt-bx">
                                        <a href="blog-detail.html" title=""><img src="{% static 'images/resources/rcnt-img3.jpg' %}" alt="rcnt-img3.jpg"></a>
                                        <div class="rcnt-inf">
                                            <h6><a href="blog-detail.html" title="">Lorem ipsum dolor sit</a></h6>
                                            <span class="thm-clr"><i class="fa fa-calendar-o"></i>Apr 15, 2020</span>
                                        </div>
                                    </div>
                                    <div class="rcnt-bx">
                                        <a href="blog-detail.html" title=""><img src="{% static 'images/resources/rcnt-img4.jpg' %}" alt="rcnt-img4.jpg"></a>
                                        <div class="rcnt-inf">
                                            <h6><a href="blog-detail.html" title="">Lorem ipsum dolor sit</a></h6>
                                            <span class="thm-clr"><i class="fa fa-calendar-o"></i>Mar 12, 2020</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div><!-- Sidebar Wrap -->
                    </div>
                </div>
            </div><!-- Blog Detail Wrap -->
        </div>
    </div>
</section>
{% endblock %}