{% extends "association/base.html" %}
{% load static %}
{% load i18n %}
{% block title %}{% trans "MZBA collection room" %}{% endblock %}

{% block content %}
<section>
    <div class="gap remove-bottom black-layer2 opc1">
        <div class="fixed-bg" style="background-image: url({% static 'images/site/fond1.webp' %});">
        </div>
        <div class="container">
            <div class="page-title-wrap">
                <h1><img src="{% static 'images/site/lettre.png' %}" alt="lettre.png"></h1>
                <h2>{% trans "MZBA collection room support" %}</h2>
                <ul class="breadcrumbs">
                    <li><a href="{% url 'association:index' %}" title="">{% trans "Home" %}</a></li>
                    <li>{% trans "MZBA collection room support" %}</li>
                </ul>
            </div><!-- Page Title Wrap -->
        </div>
    </div>
</section>

<section style="background-color: #f4f6f7;">
    <div class="gap">
        <div class="container">
            <div class="sec-title text-center">
                <div class="sec-title-inner">
                    <h3>{% trans "MZBA collection room support" %}</h3>
                </div>
            </div>
            <div class="serv-wrap text-justify">
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-lg-12">
                        <div class="remove-ext9 color-li">
                            {% blocktrans %}
                            <p>The collection room of the Mention Zoologie et Biodiversité Animale, University of Antananarivo, holds a collection of 60,000 specimens of animals.  This material has been collected in different parts of Madagascar since 1990, by Malagasy students and researchers, as well as partners of the Department associated with overseas institutions. Most of these specimens have been cataloged according to international standards, using the acronym MZBA (“Université d’Antananarivo, Mention Zoologie et Biodiversité Animale”).  The museum collection includes mostly different taxonomic groups of Malagasy vertebrates including fish, amphibians, reptiles, birds and mammals.  Besides the fluid preserved specimens (formaldehyde and ethanol), there are also skin and skeleton specimens.  Holotypes and paratypes of recently described new species are also housed in this collection room. There are also some invertebrate specimens.</p>
                            <p>
                                The Association Vahatra works closely with the Mention Zoologie et Biodiversité Animale to improve the management of the collection room by providing technical, logistical and material support in order to:
                            </p>
                            <ul >
                                <li >enriching the museum collections</li>
                                <li>providing technical aspects of identification and taxonomic updates</li>
                                <li>improving curatorial conditions to ensure the proper maintenance of specimens (alcohol, insecticides, jars, etc.)</li>
                                <li>modernizing the system of cataloging and registration based on international standards</li>
                                <li>improving the collection management system to establish a simple yet rigorous management structure (curator)</li>
                            </ul>
                            {% endblocktrans %}
                        </div>
                    </div>
                </div>
            </div><!-- Serv Wrap -->
        </div>
    </div>
</section>
<section style="background-color: #f4f6f7;">
    <div class="gap no-gap">
        
        <div class="container">
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-lg-12">
                        <div class="sec-title text-center">
                            <div class="sec-title-inner">
                                <span>{% trans "Visit the collection room in a " %}</span>
                                <h3>{% trans "Virtual Tour" %}</h3>
                            </div>
                        </div>
                        <center>
                            <div id="div-iframe">
                                <iframe id="iframe-id" src="https://collection-room-vr.cloudaccess.host/index.php/2-uncategorised/2-collection-room"  allowfullscreen=""  scrolling="no" ></iframe>                      
                            </div>
                        </center>
                </div>
        </div>
    </div>
</section>
<section style="background-color: #f4f6f7;">
    <div class="row" style="margin: -7.5px;">
        {% for i in '012345678'|make_list %}
        <div class="col-md-6 col-sm-12 col-lg-4" style="padding: 7.5px;">
            <div class="prtfl-box text-center">
                <img loading="lazy" src="{% static 'images/collection_room/' %}{{i}}_association_vahatra.webp" alt="{{i}}_association_vahatra.webp" title="{{i}}_association_vahatra.webp">
                <div class="prtfl-info">
                    <a href="{% static 'images/collection_room/' %}{{i}}_association_vahatra.webp" data-fancybox="gallery" title=""><i class="fa fa-plus"></i></a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</section>

{% endblock %}