{% load static %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
      <html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <link rel="icon"href="{% static 'favicon.ico' %}">
    <title>Collection room | Vahatra</title>
    <link rel="stylesheet" type="text/css" href="http://owlcarousel2.github.io/OwlCarousel2/assets/owlcarousel/assets/owl.theme.default.min.css">
        <link rel="stylesheet" href="{% static 'css/icons.min.css' %}">
        <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'css/animate.min.css' %}">
        <link rel="stylesheet" href="{% static 'css/fancybox.min.css' %}">
        <link rel="stylesheet" href="{% static 'css/owl.carousel.min.css' %}">
        <link rel="stylesheet" href="{% static 'css/jquery.circliful.css' %}">
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
        <link rel="stylesheet" href="{% static 'css/responsive.css' %}">
        <link rel="stylesheet" href="{% static 'css/collapsed.css' %}">
        <link rel="stylesheet" href="{% static 'admin/vendors/ti-icons/css/themify-icons.css' %}">
      
        <!-- Color Scheme -->
        <link rel="stylesheet" href="{% static 'css/colors/color.css' %}" title="color" /><!-- Color -->
        <link rel="alternate stylesheet" href="{% static 'css/colors/color2.css' %}" title="color2" /> <!-- Color2 -->
        <link rel="alternate stylesheet" href="{% static 'css/colors/color3.css' %}" title="color3" /> <!-- Color3 -->
        <link rel="alternate stylesheet" href="{% static 'css/colors/color4.css' %}" title="color4" /> <!-- Color4 -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/openlayers/openlayers.github.io@master/en/v6.15.1/css/ol.css" type="text/css">
        <link rel="stylesheet" href="{% static 'css/customize.css' %}" title="color" /><!-- Color -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.css" integrity="sha512-yHknP1/AwR+yx26cB1y0cjvQUMvEa2PFzt1c9LlS4pRQ5NOTZFWbhBig+X9G9eYW/8m0/4OXNx8pxJ6z57x0dw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick-theme.min.css" integrity="sha512-17EgCFERpgZKcm0j0fEq1YCJuyAWdz9KUtv1EjVuaOz8pDnh/0nZxmU6BBXwaaxqoi9PQXnRWqlcDB027hgv9A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    
    
    <link rel="stylesheet" type="text/css" href="{% static 'css/vt/jquery.panorama.css' %}" media="screen" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/vt/jquery.fancybox-1.3.1.css' %}" media="screen" />
</head>
<body>
    <main>
        <div class="pageloader-wrap">
            <div class="loader">
                <div class="loader__bar"></div>
                <div class="loader__bar"></div>
                <div class="loader__bar"></div>
                <div class="loader__bar"></div>
                <div class="loader__bar"></div>
                <div class="loader__ball"></div>
            </div>
          </div><!-- Pageloader Wrap -->
          <div class="sidepanel">
            <span><i class="fa fa-cog fa-spin"></i></span>
            <div class="color-picker">
                <h3>Choose Your Color</h3>
                <a class="color applied" onclick="setActiveStyleSheet('color'); return false;"></a>
                <a class="color2" onclick="setActiveStyleSheet('color2'); return false;"></a>
                <a class="color3" onclick="setActiveStyleSheet('color3'); return false;"></a>
                <a class="color4" onclick="setActiveStyleSheet('color4'); return false;"></a>
            </div><!-- Color Picker -->
          </div><!-- Side Panel -->
          <header class="style1">
            <div class="container">
                <div class="logo"><a href="{% url 'association:index' %}" title="Logo"><img src="{% static 'images/logo.png' %}" alt="logo.png"></a></div>
                <nav>
                    <div>
                        <a class="thm-btn brd-rd40" href="{% url 'association:contactpage' %}" title="">Contact Us</a>
                        {% include 'association/includes/nav.html' %}
                    </div>
                </nav>
            </div>
          </header><!-- Header -->
          <div class="rspn-hdr">
            <div class="rspn-mdbr">
                <ul class="rspn-scil">
                    <li><a href="#" title="Twitter" target="_blank"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="#" title="Facebook" target="_blank"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="#" title="Linkedin" target="_blank"><i class="fa fa-linkedin"></i></a></li>
                    <li><a href="#" title="Google Plus" target="_blank"><i class="fa fa-google-plus"></i></a></li>                   
                </ul>
                <form class="rspn-srch">
                    <input type="text" placeholder="Enter Your Keyword" />
                    <button type="submit"><i class="fa fa-search"></i></button>
                </form>
            </div>
            <div class="lg-mn">
                <div class="logo"><a href="{% url 'association:index' %}" title="Logo"><img src="{% static 'images/logo2.png' %}" alt="logo2.png"></a></div>
                <div class="rspn-cnt">
                    <span><i class="fa fa-envelope thm-clr"></i><a href="#" title="">associatvahatra@moov.mg</a></span>
                    <span><i class="fa fa-phone thm-clr"></i>+261 20 22 277 55</span>
                </div>
                <span class="rspn-mnu-btn"><i class="fa fa-list-ul"></i></span>
            </div>
            <div class="rsnp-mnu">
                <span class="rspn-mnu-cls"><i class="fa fa-times"></i></span>
                {% include 'association/includes/nav.html' %}
            </div><!-- Responsive Menu -->
          </div><!-- Responsive Header -->

          
<section>
    <div class="gap remove-bottom black-layer2 opc85">
        <div class="fixed-bg" style="background-image: url({% static 'images/site/fond1.png' %});">
        </div>
        <div class="container">
            <div class="page-title-wrap">
                <h1><img src="{% static 'images/site/lettre.png' %}" alt="lettre.png"></h1>
                <h2>Collection room</h2>
                <ul class="breadcrumbs">
                    <li><a href="{% url 'association:index' %}" title="">Home</a></li>
                    <li>Collection room</li>
                </ul>
            </div><!-- Page Title Wrap -->
        </div>
    </div>
</section>

<section>
    <div class="gap">
        <div class="fixed-bg" style="background-image: url({% static 'images/parallax2.jpg' %});"></div>
        <div class="container">
            <div class="sec-title text-center">
                <div class="sec-title-inner">
                    <h3>Collection room</h3>
                </div>
            </div>
            <div class="serv-wrap text-justify">
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-lg-12">
                        <div class="remove-ext9 color-li">
                            <p>The collection room of the Department of Animal Biology, University of Antananarivo, holds a collection of 60,000 specimens of animals.  This material has been collected in different parts of Madagascar since 1990, by Malagasy students and researchers, as well as partners of the Department associated with overseas institutions. Most of these specimens have been cataloged according to international standards, using the acronym UADBA (“Université d’Antananarivo, Département de Biologie Animale”).  The museum collection includes mostly different taxonomic groups of Malagasy vertebrates including fish, amphibians, reptiles, birds and mammals.  Besides the fluid preserved specimens (formaldehyde and ethanol), there are also skin and skeleton specimens.  Holotypes and paratypes of recently described new species are also housed in this collection room. There are also some invertebrate specimens.</p>
                            <p>
                                The Association Vahatra works closely with the Department of Animal Biology to improve the management of the collection room by providing technical, logistical and material support in order to:
                            </p>
                            <ul>
                                <li >enriching the museum collections</li>
                                <li>providing technical aspects of identification and taxonomic updates</li>
                                <li>improving curatorial conditions to ensure the proper maintenance of specimens (alcohol, insecticides, jars, etc.)</li>
                                <li>modernizing the system of cataloging and registration based on international standards</li>
                                <li>improving the collection management system to establish a simple yet rigorous management structure (curator)</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div><!-- Serv Wrap -->
        </div>
    </div>
</section>
<section>
    <div class="gap black-layer2 opc8 style-4-donate">
        <div class="container">
            
            <div class="suprt-prgrs style2 text-center">
                <div class="suprt-prg" id="suprt-prg-invertebrates"></div>
                <div class="suprt-prg" id="suprt-prg-vertebrates"></div>
                <div class="suprt-prg" id="suprt-prg-newspecies"></div>
            </div>
            
        </div>
    </div>
</section>
<section>
    <div class="gap">
        <div class="fixed-bg" style="background-image: url({% static 'images/parallax2.jpg' %});"></div>
        <div>
            <div class="sec-title text-center">
                <div class="sec-title-inner">
                    <span>Visit Our</span>
                    <h3>Collection Room</h3>
                </div>
            </div>
            <div>
                <div id="fancy-icon" data-left="{% static 'images/virtual-tour/fancy_nav_left.png' %}" data-right="{% static 'images/virtual-tour/fancy_nav_right.png' %}" data-close="{% static 'images/virtual-tour/fancy_close.png' %}">
                    {% if salle == "atelier" %}
                    <img src="{% static 'images/virtual-tour/atelier.jpg' %}" class="advancedpanorama" width="2642" height="375" usemap="testmap" alt="Salle de formation" />
                    <map id="testmap" name="testmap"> 
                    <area shape="rect" coords="543,105,699,225" href="{% url 'activities:collection' 'sculpteur'  %}" alt="vers l'atelier du sculpteur" /> 
                    </map>
                    {% else %}
                    <img src="{% static 'images/virtual-tour/sculpteur.jpg' %}" class="advancedpanorama" width="2448" height="375" usemap="testmap" alt="Atelier du sculpteur" />
                    <map id="testmap" name="testmap"> 
                    <area shape="rect" coords="1653,72,1839,255" href="{% url 'activities:collection' 'atelier' %}" alt="vers la salle de formation"  /> 
                    <area shape="rect" coords="2013,114,2091,210" href="{% static 'images/virtual-tour/statue1.jpg' %}" alt="statues" class="thickbox" /> 
                    <area shape="rect" coords="1920,276,2070,351" href="{% static 'images/virtual-tour/gouges.jpg' %}" alt="gouges" class="thickbox" /> 
                    </map>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</section>
    
    <footer>
        <div class="gap top-spac60 drk-bg remove-bottom">
            <div class="container">
                <div class="footer-data">
                    <div class="row">
                        <div class="col-md-4 col-sm-12 col-lg-4">
                            <div class="wdgt-box">
                                <div class="logo"><a href="/en/" title="Logo"><img src="/static/images/logo2.png" alt="logo2.png"></a></div>
                                <p>Vahatra's challenge, objectives and mission are mainly based on its history; and the members are doing their best to achieve these objectives.</p>
                            </div>
                        </div>
                        <div class="col-md-8 col-sm-12 col-lg-8">
                            <div class="row">
                                <div class="col-md-4 col-sm-4 col-lg-4">
                                    <div class="wdgt-box">
                                        <h4>Quick Links</h4>
                                        <ul>
                                            <li><a href="#" title="">About Us</a></li>
                                            <li><a href="#" title="">Product Category</a></li>
                                            <li><a href="#" title="">Our Products</a></li>
                                            <li><a href="#" title="">How we do it</a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="col-md-4 col-sm-4 col-lg-4">
                                    <div class="wdgt-box">
                                        <h4>Useful Links</h4>
                                        <ul>
                                            <li><a href="#" title="">Contact Us</a></li>
                                            <li><a href="#" title="">Terms &amp; Conditions</a></li>
                                            <li><a href="#" title="">Privacy Policy</a></li>
                                            <li><a href="#" title="">Cookies Policy</a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="col-md-4 col-sm-4 col-lg-4">
                                    <div class="wdgt-box">
                                        <h4>Contact Us</h4>
                                        <ul class="cont-lst">
                                            <li><i class="flaticon-location-pin"></i>Association Vahatra, B.P. 3972, Antananarivo 101, Madagascar</li>
                                            <li><i class="flaticon-call"></i>+261 20 22 277 55</li>
                                            <li><i class="flaticon-email"></i><a href="#" title="">associatvahatra@moov.mg</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div><!-- Footer Data -->
                <div class="bottom-bar">
                    <p>© Copyright 2022. All Rights Reserved.</p>
                    <div class="scl">
                        <a href="#" title="Twitter" target="_blank"><i class="fa fa-twitter"></i></a>
                        <a href="#" title="Pinterest" target="_blank"><i class="fa fa-pinterest-p"></i></a>
                        <a href="#" title="Google Plus" target="_blank"><i class="fa fa-google-plus"></i></a>
                        <a href="#" title="Facebook" target="_blank"><i class="fa fa-facebook"></i></a>
                    </div>
                    <div>Icons made by <a href="https://www.freepik.com" title="Freepik">Freepik</a>,<a href="https://www.flaticon.com/authors/iconixar" title="iconixar">iconixar</a>,<a href="https://www.flaticon.com/authors/hilmy-abiyyu-a" title="Hilmy Abiyyu A.">Hilmy Abiyyu A.</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div>
                </div><!-- Bottom Bar -->
            </div>
        </div>
    </footer>

</main>
    
<script src="{% static 'js/jquery.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/vt/jquery.panorama.js' %} "></script>
<script type="text/javascript">
	$(document).ready(function(){
        "{% if salle != '' %}"
        $([document.documentElement, document.body]).animate({
            scrollTop: $('#fancy-icon').offset().top
        }, 0);
        "{% endif %}"
        
    
		$("img.advancedpanorama").panorama({
	            auto_start: 0,
			    start_position: 1527
	    });
	});
</script>
<script type="text/javascript" src="{% static 'js/vt/cvi_text_lib.js' %} "></script>
<script type="text/javascript" src="{% static 'js/vt/jquery.advanced-panorama.js' %} "></script>
<!-- <script type="text/javascript" src="{% static 'js/vt/jquery.flipv.js' %} "></script> -->
<script src="{% static 'js/fancybox.min.js' %}"></script>
<script type="text/javascript">
	$(document).ready(function(){
	  $('.thickbox').fancybox();
	});
</script>



<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/downCount.js' %}"></script>
<script src="{% static 'js/isotope.pkgd.min.js' %}"></script>
<script src="{% static 'js/perfectscrollbar.min.js' %}"></script>
<script src="{% static 'js/wow.min.js' %}"></script>
<script type="text/javascript" src="http://owlcarousel2.github.io/OwlCarousel2/assets/owlcarousel/owl.carousel.js"></script>
<!-- <script src="{% static 'js/owl.carousel.min.js' %}"></script> -->
<script src="{% static 'js/jquery.circliful.min.js' %}"></script>
<script src="{% static 'js/custom-scripts.js' %}"></script>
<script src="{% static 'js/collapsed.js' %}"></script>
<script src="https://cdn.jsdelivr.net/gh/openlayers/openlayers.github.io@master/en/v6.15.1/build/ol.js"></script>
<script src="https://cdn.polyfill.io/v2/polyfill.min.js?features=requestAnimationFrame,Element.prototype.classList"></script>

</body>
</html>

