{% extends "association/base.html" %}
{% load static %}
{% block title %}Collection room{% endblock %}
{% block content %}
<section>
    <div class="gap remove-bottom black-layer2 opc1">
        <div class="fixed-bg" style="background-image: url({% static 'images/site/fond1.png' %});">
        </div>
        <div class="container">
            <div class="page-title-wrap">
                <h1><img src="{% static 'images/site/lettre.png' %}" alt="lettre.png"></h1>
                <h2>Collection room</h2>
                <ul class="breadcrumbs">
                    <li><a href="{% url 'association:index' %}" title="">Home</a></li>
                    <li>Collection room</li>
                </ul>
            </div><!-- Page Title Wrap -->
        </div>
    </div>
</section>

<section>
    <div class="gap">
        <div class="fixed-bg" style="background-image: url({% static 'images/parallax2.jpg' %});"></div>
        <div class="container">
            <div class="sec-title text-center">
                <div class="sec-title-inner">
                    <h3>Collection room</h3>
                </div>
            </div>
            <div class="serv-wrap text-justify">
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-lg-12">
                        <div class="remove-ext9 color-li">
                            <p>The collection room of the Department of Animal Biology, University of Antananarivo, holds a collection of 60,000 specimens of animals.  This material has been collected in different parts of Madagascar since 1990, by Malagasy students and researchers, as well as partners of the Department associated with overseas institutions. Most of these specimens have been cataloged according to international standards, using the acronym UADBA (“Université d’Antananarivo, Département de Biologie Animale”).  The museum collection includes mostly different taxonomic groups of Malagasy vertebrates including fish, amphibians, reptiles, birds and mammals.  Besides the fluid preserved specimens (formaldehyde and ethanol), there are also skin and skeleton specimens.  Holotypes and paratypes of recently described new species are also housed in this collection room. There are also some invertebrate specimens.</p>
                            <p>
                                The Association Vahatra works closely with the Department of Animal Biology to improve the management of the collection room by providing technical, logistical and material support in order to:
                            </p>
                            <ul>
                                <li >enriching the museum collections</li>
                                <li>providing technical aspects of identification and taxonomic updates</li>
                                <li>improving curatorial conditions to ensure the proper maintenance of specimens (alcohol, insecticides, jars, etc.)</li>
                                <li>modernizing the system of cataloging and registration based on international standards</li>
                                <li>improving the collection management system to establish a simple yet rigorous management structure (curator)</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div><!-- Serv Wrap -->
        </div>
    </div>
</section>
<section>
    <div class="gap black-layer2 opc8 style-4-donate">
        <div class="container">
            
            <div class="suprt-prgrs style2 text-center">
                <div class="suprt-prg" id="suprt-prg-invertebrates"></div>
                <div class="suprt-prg" id="suprt-prg-vertebrates"></div>
                <div class="suprt-prg" id="suprt-prg-newspecies"></div>
            </div>
            
        </div>
    </div>
</section>
<section>
    <div class="gap">
        <div class="fixed-bg" style="background-image: url({% static 'images/parallax2.jpg' %});"></div>
        <div>
            <div class="sec-title text-center">
                <div class="sec-title-inner">
                    <span>Visit Our</span>
                    <h3>Collection Room</h3>
                </div>
            </div>
            <div>
                <div id="fancy-icon" data-left="{% static 'images/virtual-tour/fancy_nav_left.png' %}" data-right="{% static 'images/virtual-tour/fancy_nav_right.png' %}" data-close="{% static 'images/virtual-tour/fancy_close.png' %}">
                    {% if salle == "atelier" %}
                    <img src="{% static 'images/virtual-tour/atelier.jpg' %}" class="advancedpanorama" width="2642" height="375" usemap="testmap" alt="Salle de formation" />
                    <map id="testmap" name="testmap"> 
                    <area shape="rect" coords="543,105,699,225" href="{% url 'activities:collection' 'sculpteur'  %}" alt="vers l'atelier du sculpteur" /> 
                    </map>
                    {% else %}
                    <img src="{% static 'images/virtual-tour/sculpteur.jpg' %}" class="advancedpanorama" width="2448" height="375" usemap="testmap" alt="Atelier du sculpteur" />
                    <map id="testmap" name="testmap"> 
                    <area shape="rect" coords="1653,72,1839,255" href="{% url 'activities:collection' 'atelier' %}" alt="vers la salle de formation"  /> 
                    <area shape="rect" coords="2013,114,2091,210" href="{% static 'images/virtual-tour/statue1.jpg' %}" alt="statues" class="thickbox" /> 
                    <area shape="rect" coords="1920,276,2070,351" href="{% static 'images/virtual-tour/gouges.jpg' %}" alt="gouges" class="thickbox" /> 
                    </map>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</section>
    
{% endblock %}
{% block js %}

<script type="text/javascript" src="{% static 'js/vt/jquery.panorama.js' %} "></script>
<script type="text/javascript">
	$(document).ready(function(){
        
		$("img.advancedpanorama").panorama({
	            auto_start: 0,
			    start_position: 1527
	    });
	});
</script>
<script type="text/javascript" src="{% static 'js/vt/cvi_text_lib.js' %} "></script>
<script type="text/javascript" src="{% static 'js/vt/jquery.advanced-panorama.js' %} "></script>
<script type="text/javascript">
	$(document).ready(function(){
	  $('.thickbox').fancybox();
	});
</script>
<script>
    
    "{% if salle != '' %}"
        $([document.documentElement, document.body]).animate({
            scrollTop: $('#fancy-icon').offset().top
        }, 0);
    "{% endif %}"
        
</script>
{% endblock %}