{% extends "association/base.html" %}
{% load static %}
{% load i18n %}
{% load publications_extras %}
{% block title %}{{type_activity.type}}{% endblock %}

{% block meta %}
    <meta name="description" content="{% trans 'Vahatra is actively involved in biological inventories of unknown or poorly known forested areas and the reinforcement of capacity of university graduate students. The association is also responsible for the publication of a scientific journal of international standards known as Malagasy Nature and a series of general books on the natural history of Madagascar. A project `Sciences for the people` was initiated to give back to the local population information related to data accumulated during the biological inventories done by ETP and Vahatra team. ' %}..." />
    <meta name="keywords" content="vahatra, association, association vahatra, visit, visite,{{type_activity.type}} , activity" />
{% endblock %}
{% block content %}
<section>
    <div class="gap remove-bottom black-layer2 opc1">
        <div class="fixed-bg" style="background-image: url({% static 'images/site/fond1.webp' %});">
        </div>
        <div class="container">
            <div class="page-title-wrap">
                <h1><img src="{% static 'images/site/lettre.png' %}" alt="lettre.png"></h1>
                <h2>{{type_activity.type}}</h2>
                <ul class="breadcrumbs">
                    <li><a href="{% url 'association:index' %}" title="">{% trans "Home" %}</a></li>
                    <li>{{type_activity.type}}</li>
                </ul>
            </div><!-- Page Title Wrap -->
        </div>
    </div>
</section>
<section>
    <div class="gap">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="wdgt-box">
                        <h4>{% trans "Filter activities by year" %}</h4>
                        {% if type_subactivity %}
                            <select onchange="location = this.value;">
                                {% if maxfilter and minfilter %}
                                <option value="{% url 'activities:index' type_activity.id type_activity.type|toSlug type_subactivity.id|default_if_none:'' type_subactivity.type|toSlug|default_if_none:'' maxfilter minfilter %}">
                                        {{maxfilter}} - {{minfilter}}
                                </option>
                                {% endif %}
                                <option value="{% url 'activities:index' type_activity.id type_activity.type|toSlug type_subactivity.id|default_if_none:'' type_subactivity.type|toSlug|default_if_none:'' %}">
                                    {% trans "All" %}
                                </option>
                                {% for range in filter_year %}
                                <option value="{% url 'activities:index' type_activity.id type_activity.type|toSlug type_subactivity.id|default_if_none:'' type_subactivity.type|toSlug|default_if_none:'' range.max range.min %}">
                                        {{range.max}} - {{range.min}}
                                </option>
                                {% endfor %}
                            </select>
                        {% else %}
                            <select onchange="location = this.value;">
                                {% if maxfilter and minfilter %}
                                <option value="{% url 'activities:index' type_activity.id type_activity.type|toSlug maxfilter minfilter %}">
                                        {{maxfilter}} - {{minfilter}}
                                </option>
                                {% endif %}
                                <option value="{% url 'activities:index' type_activity.id type_activity.type|toSlug %}">
                                    {% trans "All" %}
                                </option>
                                {% for range in filter_year %}
                                <option value="{% url 'activities:index' type_activity.id type_activity.type|toSlug  range.max range.min %}">
                                        {{range.max}} - {{range.min}}
                                </option>
                                {% endfor %}
                            </select>
                        {% endif %}

                        
                    </div>
                </div>
            </div>
            <div class="blog-wrap remove-ext7">
                

                <div class="row mrg40">
                    {% for activity in activities %}
                    <div class="col-md-6 col-sm-12 col-lg-4 fadeIn" data-wow-duration=".8s" data-wow-delay=".2s">
                        <div class="blog-box">
                            <div class="blog-thmb ">
                                <a href="{% url 'activities:activityDetail' activity.slug %}" title="">
                                    {% if activity.activityimage_set.all %}
                                        {% with activity.activityimage_set.all|first as image %}
                                        <img loading="lazy" src="{% static 'images/site/' %}{{type_activity.type_en|lower|renameFile}}/{{image.image}}" alt="{{image.image}}">
                                        {% endwith %}
                                    {% else %}
                                    <img loading="lazy" src="{% static 'images/post-img1.jpg' %}" alt="post-img1.jpg">
                                    {% endif %}
                                </a>
                            </div>
                            <div class="blog-info">
                                <ul class="pst-mta2">
                                    <li>
                                    {% for person in activity.activityperson_set.all %}
                                        {{person.idperson.username}} {{person.idperson.name}},
                                    {% endfor %}
                                    </li>
                                </ul>
                                <h4><a href="{% url 'activities:activityDetail' activity.slug %}" title="">
                                    {% if activity.idtypesubactivity.id == 'SA7' %}
                                        <span class="font-italic" >{{activity.title | capfirst}}</span>
                                    {% else %}
                                        {{activity.title | capfirst}}
                                    {% endif %}
                                </a></h4>
                                {% if activity.note %}<p>{{activity.note}}</p>{% endif %}
                                <p><i class="fa fa-calendar-o thm-clr"></i> {{activity.date |date:"Y"}}</p>
                                <a href="{% url 'activities:activityDetail' activity.slug %}" title="">{% trans "Show more" %}</a>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div><!-- Blog Wrap -->
            {% if page_number|length > 1 %}
            <div class="pagination-wrap text-center">
                <ul class="pagination">
                    {% for number in page_number %}
                        {% if type_subactivity %}
                            {% if maxfilter and minfilter %}
                            <li ><a href="{% url 'activities:index' type_activity.id type_activity.type|toSlug type_subactivity.id type_subactivity.type|toSlug maxfilter minfilter number %}" title="">{{number}}</a></li>
                            {% else %}
                            <li ><a href="{% url 'activities:index' type_activity.id type_activity.type|toSlug type_subactivity.id type_subactivity.type|toSlug number %}" title="">{{number}}</a></li>
                            {% endif %}

                        {% else %}
                        
                            {% if maxfilter and minfilter %}
                            <li ><a href="{% url 'activities:index' type_activity.id type_activity.type|toSlug maxfilter minfilter number %}" title="">{{number}}</a></li>
                            {% else %}
                            <li ><a href="{% url 'activities:index' type_activity.id type_activity.type|toSlug number %}" title="">{{number}}</a></li>
                            {% endif %}
                        
                        {% endif %}
                        
                    {% endfor %}
                </ul>
            </div>
            {% endif %}
        </div>
    </div>
</section>
{% endblock %}