{% extends "association/base.html" %}
{% load static %}
{% block title %}Research{% endblock %}
{% block content %}
<section>
    <div class="gap remove-bottom black-layer2 opc85">
        <div class="fixed-bg" style="background-image: url({% static 'images/parallax13.jpg' %});"></div>
        <div class="container">
            <div class="page-title-wrap">
                <h1><img src="{% static 'images/resources/page-title-ayat.png' %}" alt="page-title-ayat.png"></h1>
                <h2>Research</h2>
                <ul class="breadcrumbs">
                    <li><a href="{% url 'association:index' %}" title="">Home</a></li>
                    <li>Research</li>
                </ul>
            </div><!-- Page Title Wrap -->
        </div>
    </div>
</section>
<section>
    <div class="gap">
        <div class="container">
            <div class="blog-wrap remove-ext7">
                <div class="row mrg40">
                    {% for research in researches %}
                    <div class="col-md-4 col-sm-6 col-lg-4 fadeIn" data-wow-duration=".8s" data-wow-delay=".2s">
                        <div class="blog-box">
                            <div class="blog-thmb">
                                <a href="{% static 'images/resources/post-img1.jpg' %}" title=""><img src="{% static 'images/resources/post-img1.jpg' %}" alt="post-img1.jpg"></a>
                            </div>
                            <div class="blog-info">
                                <ul class="pst-mta2">
                                    <li>By {{research.auteurs | title}} </li>
                                </ul>
                                <h4><a href="{% url 'activities:researchDetail' research.id %}" title="">{{research.name}} </a></h4>
                                <p>{{research.endemic}}</p>
                                <p><i class="fa fa-calendar-o thm-clr"></i> {{research.date |date:"Y"}}</p>
                                <a href="{% url 'activities:researchDetail' research.id %}" title="">Read More</a>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div><!-- Blog Wrap -->
            <div class="pagination-wrap text-center">
                <ul class="pagination">
                    {% for number in page_number %}
                        <li ><a href="{% url 'activities:research' number %}" title="">{{number}}</a></li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</section>
{% endblock %}