#historic{
    display: none;
}

#messageyear{
    display: none;
}


.slick-slide {
  z-index: 9;
  opacity: .68;
}

.slick-current {
    transform: scale(1.09);
    margin-top: 5px;
    opacity: 1;
}

.slick-current > .fea-itm{
    background-size: cover;
}