{% extends "admin/base.html" %}
{% load static %}
{% block content %}
<div class="content-wrapper">
    <div class="row">
        <div class="col-12 grid-margin stretch-card">
            <div class="card">
              <div class="card-body">
                <h4 class="card-title">Add new {{type.type}}</h4>
                <p class="card-description">
                  Fill in the form
                </p>
                <form class="forms-sample" id="regForm" action="{% url 'admin:addActivity' %}" enctype="multipart/form-data" method="post">
                    {% csrf_token %}
                    {% if error %}
                    <div class="alert alert-danger">
                        {{ error }}
                    </div>
                    {% endif %}
                    <div class="tab">
                        <div class="form-group">
                        <p>Type of activity : <strong>{{type.type}}</strong></p>
                        <input type="hidden" value="{{type.id}}" name="idtypeactivity">
                        </div>

                        {% if type_subactivity %}
                        <div class="form-group">
                          <label for="selectTypeSubActivity">Type of sub-activity</label>
                          <select class="form-control required" id="selectTypeSubActivity" name="idtypesubactivity" required>
                              {% for item in type_subactivity %}
                                  <option value="{{item.id}}">{{item.type}}</option>
                              {% endfor %}
                          </select>
                      </div>
                      <div id="fieldschool" style="margin-left:5rem"></div>
                      {% endif %}

                      <div class="form-group">
                        <label for="title">Title</label>
                        <input type="text" class="form-control required" id="title" name="title" placeholder="Title" required>
                      </div>
                      <div class="form-group">
                        <label for="date">Starting date</label>
                        <input type="date" class="form-control required" id="date" name="date" placeholder="dd/mm/yyyy">
                      </div>
                    </div>
                    <div class="tab">
                      <div class="form-group">
                        <label for="description">Description</label>
                        <textarea class="form-control editor" id="description" name="description" rows="4"></textarea>
                      </div>
                      <div class="form-group">
                        <label for="note">Comment</label>
                        <textarea class="form-control" id="note" name="note" rows="2"></textarea>
                      </div>
                      <div class="form-group">
                        <label for="file-chosen">Images</label>
                        <div class="input-group">
                          <input type="text" class="form-control required" id="file-chosen" placeholder="No file chosen" aria-label="No file chosen">
                          <div class="input-group-append">
                            <input type="file" id="actual-btn" name="files" accept="image/*" multiple hidden/>
                            <label class="btn btn-sm btn-primary" for="actual-btn" style="margin-bottom:0; padding-top: .7rem;">Upload images</label>
                          </div>
                        </div>
                      </div>
                      
                    </div>
                  {% if type.id == 'A1' %}
                  <div class="tab">
                      <div class="form-group">
                          <label for="selectLocation">Location</label>
                          <div class="input-group">
                              <select class="form-control required" id="selectLocation" name="idlocation" required>
                                  {% for location in locations %}
                                      <option value="{{location.id}}">{{location.name}}</option>
                                  {% endfor %}
                              </select>                            
                              <div class="input-group-append">
                                <a href="{% url 'admin:addLocation' %}" type="button" class="btn btn-outline-success" >
                                  <i class="ti-plus"></i> Add new location
                                </a> 
                              </div>
                          </div>
                          
                      </div>
                      <div class="form-group">
                        <label for="end">End of visit</label>
                        <input type="date" class="form-control required" id="end" name="dateend" placeholder="dd/mm/yyyy">
                      </div>
                  </div>
                  {% endif %}
                  <div class="tab">
                    <div class="form-group">
                      <button type="button" class="btn btn-primary" onclick="addCollaborators()">
                          <i class="ti-plus"></i> Add collaborators
                      </button>
                      <span id="btncol"></span>
                    </div>
                    <div id="inputcollaborators"></div>
                    <div class="form-group">
                      <button type="button" class="btn btn-primary" onclick="addInstitutions()">
                          <i class="ti-plus"></i> Add institutions
                      </button>
                      <span id="btninst"></span>
                    </div>
                  <div id="inputinstitutions"></div>
                </div>
                
                {% if error %}
                <div class="alert alert-danger">
                    {{ error }}
                </div>
                {% endif %}
                {% if success %}
                <div class="alert alert-success">
                    {{ success }}
                </div>
                {% endif %}

                <div style="overflow:auto;">
                  <div style="float:right;">
                    <button type="button" class="btn btn-light" id="prevBtn" onclick="nextPrev(-1)">Previous</button>
                    <button type="button" class="btn btn-info mr-2" id="nextBtn" onclick="nextPrev(1)">Next</button>
                  </div>
                </div>
                <div style="text-align:center;margin-top:40px;">
                  {% for i in step_number%}
                  <span class="step"></span>
                  {% endfor %}
                  
                </div>

                  <a href="{% url 'admin:listActivities' type.id %}" class="btn btn-light">Cancel</a>
                </form>
              </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
{% block js %}
<script src="{% static 'admin/js/multipleStepsForm.js' %}"></script>
<script>
    let click1 = 0;
    let click2 = 0;
    function addCollaborators(){
        if (click1==0){
            button = '<a href="{% url "admin:addPerson" %}" type="button" class="btn btn-outline-success" >Add a new person</a>';
            $('#btncol').append(button);
        }
        var select = '<div class="form-group"><label for="selectNewCollaborator">Collaborator</label>\
                        <select class="form-control" id="selectNewCollaborator" name="fkidperson'+click1+'">';
        select += '{% for person in persons %}<option value="{{person.id}}">{{person.name}} {{person.username}}</option>{% endfor %}';
        select += '</select></div>';
        $('#inputcollaborators').append(select);
        click1 += 1;
    }
    function addInstitutions(){
        if (click2==0){
            button = '<a href="{% url "admin:addInstitution" %}" type="button" class="btn btn-outline-success" >Add a new institution</a>';
            $('#btninst').append(button);
        }
        var select = '<div class="form-group"><label for="selectNewInstitution">Institution partner</label>\
                        <select class="form-control" id="selectNewInstitution" name="fkidinst'+click2+'">';
        select += '{% for inst in institutions %}<option value="{{inst.id}}">{{inst.name}}</option>{% endfor %}';
        select += '</select></div>';
        $('#inputinstitutions').append(select);
        click2 += 1;
    }

    const actualBtn = document.getElementById('actual-btn');

    const fileChosen = document.getElementById('file-chosen');

    actualBtn.addEventListener('change', function(){
      fileChosen.value = this.files.length+" files selected"
    })
    
    $('#selectTypeSubActivity').click(function(){
      val = $(this).find(":selected").val();
      if (val == 'SA2'){
        var addnew = '<div class="row"><button type="button" class="btn btn-primary btn-sm" onclick="addFS()">\
                        <i class="ti-plus"></i> Add institution that took part\
                    </button></div>';
              
        var select = '<div class="row"><div class="form-group row"><div class="col text-primary">\
                  <label for="instFS">Institution that took part</label>\
                        <div><select class="form-control form-control-sm" id="instFS" name="fsidinst0">';
        select += '<option value="">--</option>{% for inst in institutions %}<option value="{{inst.id}}">{{inst.name}}</option>{% endfor %}';
        select += '</select></div></div>';
        select += '<div class="col text-primary"><label for="deptFS">Department</label>\
                        <select class="form-control form-control-sm" id="deptFS" name="fsiddept0">';
        select += '<option value="">--</option>{% for dept in departments %}<option value="{{dept.id}}">{{dept.name}}</option>{% endfor %}';
        select += '</select></div></div></div></div>';
        $('#fieldschool').html(addnew+select);
      }else{
        $('#fieldschool').empty();
      }
    });

    var clickFS = 1;
    function addFS (){
      var select = '<div class="row"><div class="form-group row"><div class="col text-primary">\
                  <label for="instFS">Institution that took part</label>\
                        <div><select class="form-control form-control-sm" id="instFS" name="fsidinst'+clickFS+'">\
                          <option value="">--</option>';
        select += '{% for inst in institutions %}<option value="{{inst.id}}">{{inst.name}}</option>{% endfor %}';
        select += '</select></div></div>';
        select += '<div class="col text-primary"><label for="deptFS">Department</label>\
                        <select class="form-control form-control-sm" id="deptFS" name="fsiddept'+clickFS+'">\
                          <option value="">--</option>';
        select += '{% for dept in departments %}<option value="{{dept.id}}">{{dept.name}}</option>{% endfor %}';
        select += '</select></div></div></div></div>';
        $('#fieldschool').append(select);
        clickFS += 1;
    };

</script>
{% endblock %}