{% extends "admin/base.html" %}
{% load static %}
{% block content %}
<div class="content-wrapper">
    <div class="row">
        <div class="col-12 grid-margin stretch-card">
            <div class="card">
              <div class="card-body">
                <h4 class="card-title">Add new Institution</h4>
                <p class="card-description">
                  Fill in the form
                </p>
                <form class="forms-sample" action="{% url 'admin:addInstitution' %}" method="post">
                    {% csrf_token %}
                  <div class="form-group">
                    <label for="Name">Name</label>
                    <input type="text" class="form-control" id="name" name="name" placeholder="Name">
                  </div>
                  
                  {% if success %}
                    <div class="alert alert-success">
                        {{ success }}
                    </div>
                  {% endif %}
                  <button type="submit" class="btn btn-info mr-2">Submit</button>
                  <a href="{% url 'admin:index' %}" class="btn btn-light">Cancel</a>
                </form>
              </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}