{% extends "admin/base.html" %}
{% load static %}
{% block content %}
    <div class="content-wrapper">
      <div class="row">
        <div class="col-md-12 grid-margin">
          <div class="row">
            <div class="col-12 col-xl-8 mb-4 mb-xl-0">
              <h3 class="font-weight-bold">Welcome Administrator</h3>
              <h6 class="font-weight-normal mb-0">Here is where you can manage your data!</h6>
            </div>
            
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 grid-margin stretch-card">
          <div class="card tale-bg">
            <div class="card-people mt-auto">
              <img src="{% static 'admin/images/dashboard/people.svg' %}" alt="people">
              <div class="weather-info">
                <div class="d-flex">
                  <div>
                    <h2 class="mb-0 font-weight-normal"><i class="ti-home menu-icon mr-2"></i>Association Vahatra</h2>
                  </div>
                  <div class="ml-2">
                    <h4 class="location font-weight-normal">Antananarivo</h4>
                    <h6 class="font-weight-normal">Madagascar</h6>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        
          
      </div>
      
     
{% endblock content %}
{% block js %}

<script src="{% static 'admin/js/dashboard.js' %}"></script>
<script src="{% static 'admin/js/Chart.roundedBarCharts.js' %}"></script>

{% endblock %}