{% extends "admin/base.html" %}
{% load static %}
{% load publications_extras %}
{% block content %}
    <div class="content-wrapper">
      <div class="row">
        <div class="col-lg-12 grid-margin stretch-card">
          <div class="card">
            <div class="card-body">
              <div class="row">
                <div class="col-12 col-xl-8 mb-4 mb-xl-0">
                  <h4 class="card-title">Photos : {{imagetype.type}}</h4>
                  <a href="{% url 'admin:addImage' imagetype.id %}" type="button" class="btn btn-info">
                    <i class="ti-plus"></i> Add new photos
                  </a>
                </div>
                <div class="col-12 col-xl-4">
                 <div class="align-items-end d-flex flex-column">
                  <div class="dropdown flex-md-grow-1 flex-xl-grow-0">
                    <button class="btn btn-sm btn-light bg-white dropdown-toggle" type="button" id="dropdownMenuDate2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                     <i class="mdi mdi-calendar"></i> Sort of type
                    </button>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuDate2" style="">
                      {% for type in type_image %}
                        <a class="dropdown-item" href="{% url 'admin:listImages' type.id %}">{{type.type}}</a>
                      {% endfor %}
                    </div>
                  </div>
                 </div>
                </div>
              </div>
              
              <div class="prtfl-admin-wrap text-center pt-2">
              <div class="prtfl-admin-dta remove-ext1">
                <div class="row mrg15 masonry">
                  {% for img in imagetype.image_set.all %}
                    <div class="col-md-4 col-sm-6 col-lg-4 ">
                        <div class="prtfl-admin-box">
                            <img src="{% static 'images/' %}{{img.idtype.type|snake_case}}/{{img.name}}" alt="prtfl-admin-img1.jpg" class="w-100 shadow-1-strong rounded mb-4">
                            <div class="prtfl-admin-info">
                                <button type="button" class="btn btn-inverse-danger btn-icon" data-toggle="modal" data-target="#exampleModal" onclick="deleteImage('{{img.title|escapejs}}','{{img.id}}')" >
                                  <i class="ti-trash"></i>
                                </button>
                                <button onclick="location.href='{% url 'admin:updateImage' img.id %}'" type="button" class="btn btn-inverse-warning btn-icon" id="btn-change" >
                                  <i class="ti-loop"></i>
                                </button>
                                <hr>
                                <h4>{{img.title}}</h4>
                                <span>{{img.idtype.type}}</span>
                            </div>
                        </div>
                    </div>        
                    {% endfor %}
                </div>
            </div>
          </div>

              </div>
              
          </div>
        </div>
       
       
    </div>
    

    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            Are you sure to delete this item?
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-info" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-danger" id="confirmDelete">Delete</button>
          </div>
        </div>
      </div>
    </div>
{% endblock content %}
{% block js %}
<script>
  function deleteImage(title,id){
    $('#exampleModalLabel').text('Delete '+"{{imagetype.type}}"+' : '+title);

    $('#confirmDelete').click(function() {
    
      $.ajax({
              url : "{% url 'admin:deleteImage' %}",
              dataType: 'JSON',
              type:"POST",
              data: {
                  'id_image': id,
                  'csrfmiddlewaretoken': '{{ csrf_token }}',
              },
              success:function(data){
                $('#exampleModal').modal('hide');
                location.reload(true);
                // console.log(data['success'])
              },
              error:function(data){
                  // console.log('error')
                  // console.log(data)
              }
          });
    });
  }
</script>
{% endblock %}