{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Login Admin</title>
  <!-- plugins:css -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/lykmapipo/themify-icons@0.1.2/css/themify-icons.css">
  <link rel="stylesheet" href="{% static 'admin/css/vertical-layout-light/style.css' %}">
  <!-- endinject -->
  <link rel="icon" href="{% static 'favicon.ico' %}">
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body>
  <div class="container-scroller">
    <div class="container-fluid page-body-wrapper full-page-wrapper">
      <div class="content-wrapper d-flex align-items-center auth px-0">
        <div class="row w-100 mx-0">
          <div class="col-lg-4 mx-auto">
            <div class="auth-form-light text-left py-5 px-4 px-sm-5">
              <div class="brand-logo text-center">
                <img src="{% static 'images/Vahatra_logo.png' %}" alt="logo">
              </div>
              <h4>Administrator</h4>
              {% if block_message %}
                  <div class="alert alert-danger">
                      {{ block_message }}
                  </div>
              {% else %}
                  <h6 class="font-weight-light">Sign in to continue.</h6>
                  <form class="pt-3" action="{% url 'admin:my_login' %}" method="POST">
                    {% csrf_token %}
                    <div class="form-group">
                      <input type="text" class="form-control form-control-lg" id="exampleInputEmail1" name="username" placeholder="Username">
                    </div>
                    <div class="form-group">
                      <input type="password" class="form-control form-control-lg" id="exampleInputPassword1" name="password" placeholder="Password">
                    </div>
                    <div class="mt-3">
                      <input type="submit" class="btn btn-block btn-primary btn-lg font-weight-medium auth-form-btn" value="SIGN IN">
                    </div>
                    <div class="my-2 d-flex justify-content-between align-items-center">
                      <div class="form-check">
                        <label class="form-check-label text-muted">
                          <input type="checkbox" name="remember_me" value="true" class="form-check-input">
                          Keep me signed in
                        </label>
                      </div>
                      <a href="{% url 'admin:reset_password_verify' %}" class="auth-link text-black">Forgot password?</a>
                    </div>
                    {% if error_message %}
                        <div class="alert alert-danger">
                            {{ error_message }}
                        </div>
                    {% endif %}
                    
                    {% if message %}
                        <div class="alert alert-success">
                            {{ message }}
                        </div>
                    {% endif %}
                    
                  </form>
              {% endif %}
              
            </div>
          </div>
        </div>
      </div>
      <!-- content-wrapper ends -->
    </div>
  </div>
  <script src="{% static 'admin/vendors/js/vendor.bundle.base.js' %}"></script>
  <script src="{% static 'admin/js/template.js' %}"></script>
</body>

</html>
