{% load static %}
<!DOCTYPE html>
<html lang="en">

  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Login Admin</title>
    <!-- plugins:css -->
    <!-- <link rel="stylesheet" href="{% static 'admin/vendors/ti-icons/css/themify-icons.css' %}"> --><link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/lykmapipo/themify-icons@0.1.2/css/themify-icons.css">
    <link rel="stylesheet" href="{% static 'admin/css/vertical-layout-light/style.css' %}">
    <!-- endinject -->
    <link rel="icon"href="{% static 'favicon.ico' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
  </head>
  

<body>
  <div class="container-scroller">
    <div class="container-fluid page-body-wrapper full-page-wrapper">
      <div class="content-wrapper d-flex align-items-center auth px-0">
        <div class="row w-100 mx-0">
          <div class="col-lg-4 mx-auto">
            <div class="auth-form-light text-left py-5 px-4 px-sm-5">
              <div class="brand-logo text-center">
                <img src="{% static 'images/Vahatra_logo.png' %}" alt="logo">
              </div>
              <h4>Password reset</h4>
              {% if checkCode %}
                <h6 class="font-weight-light">Enter the code</h6>
                <form class="pt-3" action="{% url 'admin:reset_password_verify' %}" method="POST">
                  {% csrf_token %}
                  <input type="hidden" value="{{checkCode}}" name="checkCode">
                  <div class="form-group">
                    <input type="text" class="form-control form-control-lg" id="exampleInputEmail1" name="code" placeholder="Verify code">
                  </div>
                  
                  <div class="mt-3">
                    <input type="submit" class="btn btn-block btn-primary btn-lg font-weight-medium auth-form-btn" value="Submit">
                  </div>
                  <br>
                  {% if error_message %}
                      <div class="alert alert-danger">
                          {{ error_message }}
                      </div>
                  {% endif %}
                  
                  {% if message %}
                      <div class="alert alert-info">
                          {{ message }}
                      </div>
                    {% endif %}
                  
                </form>
              {% else %}
                <h6 class="font-weight-light">Forgotten your password? Enter the administrator's email address below and get instructions.</h6>
                <form class="pt-3" action="{% url 'admin:reset_password_verify' %}" method="POST">
                  {% csrf_token %}
                  <div class="form-group">
                    <input type="mail" class="form-control form-control-lg" id="exampleInputEmail1" name="mail" placeholder="Email address">
                  </div>
                  
                  <div class="mt-3">
                    <input type="submit" class="btn btn-block btn-primary btn-lg font-weight-medium auth-form-btn" value="Reset my password">
                  </div>
                  <br>
                  {% if error_message %}
                      <div class="alert alert-danger">
                          {{ error_message }}
                      </div>
                  {% endif %}
                  
                </form>
              {% endif %}
              
            </div>
          </div>
        </div>
      </div>
      <!-- content-wrapper ends -->
    </div>
    <!-- page-body-wrapper ends -->
  </div>
</body>

</html>
