{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Login Admin</title>
  <!-- plugins:css -->
  <link rel="stylesheet" href="{% static 'admin/vendors/feather/feather.css' %}">
  <link rel="stylesheet" href="{% static 'admin/vendors/ti-icons/css/themify-icons.css' %}">
  <link rel="stylesheet" href="{% static 'admin/vendors/css/vendor.bundle.base.css' %}">
  <!-- endinject -->
  <!-- Plugin css for this page -->
  <!-- End plugin css for this page -->
  <!-- inject:css -->
  <link rel="stylesheet" href="{% static 'admin/css/vertical-layout-light/style.css' %}">
  <!-- endinject -->
  <link rel="icon"href="{% static 'favicon.ico' %}">
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body>
  <div class="container-scroller">
    <div class="container-fluid page-body-wrapper full-page-wrapper">
      <div class="content-wrapper d-flex align-items-center auth px-0">
        <div class="row w-100 mx-0">
          <div class="col-lg-4 mx-auto">
            <div class="auth-form-light text-left py-5 px-4 px-sm-5">
              <div class="brand-logo">
                <img src="{% static 'images/logo.png' %}" alt="logo">
              </div>
              <h4>Password reset</h4>
              <h6 class="font-weight-light">Forgotten your password? Enter the administrator's email address below to get instructions for setting a new one.</h6>
              <form class="pt-3" action="{% url 'admin:reset_password' %}" method="POST">
                {% csrf_token %}
                <div class="form-group">
                  <input type="mail" class="form-control form-control-lg" id="exampleInputEmail1" name="mail" placeholder="Email address">
                </div>
                
                <div class="mt-3">
                  <input type="submit" class="btn btn-block btn-primary btn-lg font-weight-medium auth-form-btn" value="Reset my password">
                </div>
                <br>
                {% if error_message %}
                    <div class="alert alert-danger">
                        {{ error_message }}
                    </div>
                {% endif %}
                
                {% if message %}
                    <div class="alert alert-success">
                        {{ message }}
                    </div>
                {% endif %}
                
              </form>
            </div>
          </div>
        </div>
      </div>
      <!-- content-wrapper ends -->
    </div>
    <!-- page-body-wrapper ends -->
  </div>
</body>

</html>
