{% extends "admin/base.html" %}
{% load static %}
{% block content %}
<div class="content-wrapper">
    <div class="row">
        <div class="col-12 grid-margin stretch-card">
            <div class="card">
              <div class="card-body">
                <h4 class="card-title">Update informations about the <strong>{{type.type}}</strong> <h4>
                <p class="card-description">
                  Fill in the form
                </p>
                <form class="forms-sample" action="{% url 'admin:updateTypeMember' type.id %}" enctype="multipart/form-data" method="post">
                    {% csrf_token %}
                    <div class="row">
                      <div class="col-md-6">
                        <div class="form-group">
                          <label for="type_en">Type name in english</label>
                          <input type="text" class="form-control" id="type_en" name="type_en" placeholder="Type name in english" value="{{type.type_en}}">
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="form-group">
                          <label for="type_fr">Nom du type en français</label>
                          <input type="text" class="form-control" id="type_fr" name="type_fr" placeholder="Nom du type en français" value="{{type.type_fr}}">
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-6">
                        <div class="form-group">
                          <label for="description_en">Description in english</label>
                          <textarea class="form-control editor" id="description_en" name="description_en" rows="20">{{type.description_en|default_if_none:""}}</textarea>
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="form-group">
                          <label for="description_fr">Description en français</label>
                          <textarea class="form-control editor" id="description_fr" name="description_fr" rows="20">{{type.description_fr|default_if_none:""}}</textarea>
                        </div>
                      </div>
                    </div>
                  <div class="form-group">
                    <label for="file-chosen">Illustration of members</label>
                    <div class="input-group">
                      <input type="text" class="form-control" id="file-chosen" placeholder="No file chosen" aria-label="No file chosen">
                      <div class="input-group-append">
                        <input type="file" id="actual-btn" name="files" accept="image/*" multiple hidden/>
                        <label class="btn btn-sm btn-primary" for="actual-btn" style="margin-bottom:0; padding-top: .7rem;">Upload images</label>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    {% for img in imgs  %}
                    <div class="col-md-4">
                      <div class="form-check form-check-flat form-check-danger">
                        <label class="form-check-label">
                          <input type="checkbox" name="supprImage" value="{{img.id}}" class="form-check-input">
                          Delete this image
                          <i class="input-helper"></i>
                        </label>
                      </div>
                      <img src="{% static 'images/members/' %}{{img.image}}">
                    </div>
                    {% endfor %}
                </div>
                  
                {% if error %}
                <div class="alert alert-danger">
                    {{ error }}
                </div>
                {% endif %}
                {% if success %}
                <div class="alert alert-success">
                    {{ success }}
                </div>
                {% endif %}

                  <button type="submit" class="btn btn-info mr-2">Submit</button>
                  <a href="{% url 'admin:listTypeMember' %}" class="btn btn-light">Cancel</a>
                </form>
              </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
{% block js %}
<script>
   
    const actualBtn = document.getElementById('actual-btn');

    const fileChosen = document.getElementById('file-chosen');

    actualBtn.addEventListener('change', function(){
      fileChosen.value = this.files.length+" files selected"
    })

</script>
{% endblock %}